@tailwind base;
@tailwind components;
@tailwind utilities;

.bg_primary {
  background-color: #e76d4c;
}

.color_primary {
  color: #e76d4c;
}

.bg_second {
    background-color: #fae9e1;
}

.color_second {
    color: #fae9e1;
}

.btn:hover {
  color: #fae9e1;
  background-color: #e76d4c;
}

.bg_section {
  background-color: #fef9f5;
}